<link rel="stylesheet" href="/navbar.css" />

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <!-- Logo Link -->
        <a class="navbar-brand" href="/">
            <img src="/assets/logo1.png" alt="WoofWalk Logo" class="logo" />
        </a>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <!-- Offcanvas Logo Link -->
                <a class="offcanvas-title" id="offcanvasNavbarLabel" href="/">
                    <img src="/assets/logo1.png" alt="WoofWalk Logo" class="logo" />
                </a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 <% if (currentPage === 'home') { %> active <% } %>" aria-current="page" href="/"><center>HOME</center></a>
                    </li>
                    <!-- Show BOOKING if user is not logged in or is logged in as owner -->
                    <% if (!user || user.account_type === 'owner') { %> 
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2 <% if (currentPage === 'booking') { %> active <% } %>" href="/booking"><center>BOOKING</center></a>
                        </li>
                    <% } %>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 <% if (currentPage === 'about') { %> active <% } %>" href="/about"><center>ABOUT US</center></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 <% if (currentPage === 'contact-us') { %> active <% } %>" href="/contact-us"><center>CONTACT US</center></a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex justify-content-end">
                    <!-- Check if user is logged in -->
                    <% if (user) { %> 
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle custom-btn d-block mx-lg-2" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" 
                            aria-expanded="false" style="text-transform: capitalize;">
                                <i class="bi bi-person-circle"></i> <%= user.username %>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <% if (user.account_type === 'owner') { %>
                                    <li><a class="dropdown-item" href="/owner/owner-profile"><i class="bi bi-person-circle"></i> Profile</a></li>
                                    <li><a class="dropdown-item" href="/owner/edit-owner-profile"><i class="bi bi-pencil-square"></i> Edit Profile</a></li>
                                    <li><a class="dropdown-item" href="/booking-history"><i class="bi bi-clock-history"></i> Booking History</a></li>
                                <% } else if (user.account_type === 'walker') { %>
                                    <li><a class="dropdown-item" href="/walker/walker-profile"><i class="bi bi-person-circle"></i> Profile</a></li>
                                    <li><a class="dropdown-item" href="/walker/edit-walker-profile"><i class="bi bi-pencil-square"></i> Edit Profile</a></li>
                                <% } %>
                                <li><a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
                            </ul>
                        </li>
                    <!-- If not logged in -->
                    <% } else { %> 
                        <li class="nav-item">
                            <a href="/sign-in" class="custom-btn d-block mx-lg-2">
                                <i class="bi bi-box-arrow-in-right"></i> Sign In
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/sign-up" class="custom-btn d-block mx-lg-2">
                                <i class="bi bi-person-plus-fill"></i> Sign Up
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
