<link rel="stylesheet" href="/about.css" />

<!-- Center the content vertically on the page -->
<div class="center-vertical">
  <!-- Top image section -->
  <div class="top-image">
    <img src="/assets/about.jpg" alt="About Us Image" />
    <div class="top-image-text">
      <h1>About WoofWalk</h1>
      <p>~ Every dog is a part of our family ~</p>
    </div>
  </div>

  <!-- The main about-us section with a light background -->
  <div class="about-us bg-light reduce-top-space">
    <div class="container">
      <div class="row">
        <!-- First column with a picture header -->
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <div class="pic-header">
            <img src="assets/about-page-pic1.jpg" alt="About Page Picture 1" />
          </div>
        </div>
        <!-- Second column with the About WoofWalk text -->
        <div class="col-12 col-lg-6">
          <div class="header-text">About WoofWalk</div>
          <div class="break-small mb-2"></div>
          <p class="paragraph">
            At WoofWalk, we believe every dog deserves the chance to get out,
            get exercise, and have fun - even when their owners can't be there.
            That's why we've built a team of experienced, passionate dog walkers
            dedicated to providing the best possible care for the pups in our
            community.
          </p>
        </div>
      </div>

      <div class="separator-container" id="our-story">
        <img
          src="assets/bones.png"
          alt="Separation Line"
          class="separator-line"
        />
      </div>

      <div class="row">
        <!-- First column with the Our Story text -->
        <div class="col-12 col-lg-6">
          <div class="header-text">Our Story</div>
          <div class="break-small mb-2"></div>
          <p class="paragraph">
            WoofWalk was founded by dog lovers who saw a need for reliable,
            personalized dog walking services in our local area. As pet owners
            ourselves, we know how difficult it can be to balance work, family,
            and other commitments while also ensuring our furry friends get the
            exercise and attention they need. That's why we created WoofWalk -
            to be the trusted, go-to resource for busy pet parents who want to
            make sure their dogs are happy and healthy.
          </p>
        </div>
        <!-- Second column with a picture header -->
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <div class="pic-header">
            <img src="assets/about-page-pic2.jpg" alt="About Page Picture 2" />
          </div>
        </div>
      </div>

      <!-- Our Team Section -->
      <div class="separator-container" id="our-team">
        <img
          src="assets/bones.png"
          alt="Separation Line"
          class="separator-line"
        />
      </div>

      <!-- Section Heading -->
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-6">
          <div
            class="section_heading text-center wow fadeInUp"
            data-wow-delay="0.2s"
          >
            <h2 class="team-title"><span>Our </span> Team</h2>
            <p class="mt-4">Let's meet our amazing team behind WoofWalk!</p>
          </div>
        </div>
      </div>

      <!-- Our Team Profile -->
      <div class="profile-area">
        <!-- New row, Person 1 -->
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="card">
              <div class="profile-banner">
                <img src="assets/profile-banner1.jpg" alt="1st team member background image" />
              </div>
              <div class="profile-img">
                <img src="assets/profile-pic1.jpg" alt="1st team member profile image"/>
              </div>
              <div class="profile-text">
                <div class="name">NG CHUN PENG</div>
                <p>
                  Chun Peng has a love for dogs that goes beyond just being a
                  pet owner. It's what drives his passion for jointly developing
                  WoofWalk to be as reliable and friendly as the walkers they
                  feature.
                </p>
              </div>
              <div class="profile-socials">
                <a href="https://www.facebook.com" aria-label="Facebook">
                  <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com" aria-label="Instagram">
                  <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.linkedin.com" aria-label="LinkedIn">
                  <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.snapchat.com" aria-label="SnapChat">
                  <i class="bi bi-snapchat"></i>
                </a>
                <a href="https://www.youtube.com" aria-label="YouTube">
                  <i class="bi bi-youtube"></i>
                </a>
              </div>
            </div>
            <br />
            <br />
          </div>

          <!-- Person 2 -->
          <div class="col-md-4">
            <div class="card">
              <div class="profile-banner">
                <img src="assets/profile-banner2.jpg" alt="2nd team member background image"/>
              </div>
              <div class="profile-img">
                <img src="assets/profile-pic2.jpg" alt="2nd team member profile image"/>
              </div>
              <div class="profile-text">
                <div class="name">GERALD NG JING XIANG</div>
                <p>
                  Gerald has always had a creative flair, but it was his bond
                  with his two dogs that led him to jointly develop WoofWalk. He
                  knows firsthand how important it is to find a reliable walker,
                  and he pours that understanding into his work.
                </p>
              </div>
              <div class="profile-socials">
                <a href="https://www.facebook.com" aria-label="Facebook">
                  <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com" aria-label="Instagram">
                  <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.linkedin.com" aria-label="LinkedIn">
                  <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.snapchat.com" aria-label="SnapChat">
                  <i class="bi bi-snapchat"></i>
                </a>
                <a href="https://www.youtube.com" aria-label="YouTube">
                  <i class="bi bi-youtube"></i>
                </a>
              </div>
            </div>
            <br />
            <br />
          </div>

          <!-- Person 3 -->
          <div class="col-md-4">
            <div class="card">
              <div class="profile-banner">
                <img src="assets/profile-banner3.jpg" alt="3rd team member background image"/>
              </div>
              <div class="profile-img">
                <img src="assets/profile-pic3.jpg" alt="3rd team member profile image"/>
              </div>
              <div class="profile-text">
                <div class="name">NICOLE LOY YAN TONG</div>
                <p>
                  Growing up with pets, Nicole's empathetic nature drives her to
                  jointly develop WoofWalk, so that both dog owners and walkers
                  can focus on what really matters — happy, active, healthy
                  pets.
                </p>
              </div>
              <div class="profile-socials">
                <a href="https://www.facebook.com" aria-label="Facebook">
                  <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com" aria-label="Instagram">
                  <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.linkedin.com" aria-label="LinkedIn">
                  <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.snapchat.com" aria-label="SnapChat">
                  <i class="bi bi-snapchat"></i>
                </a>
                <a href="https://www.youtube.com" aria-label="YouTube">
                  <i class="bi bi-youtube"></i>
                </a>
              </div>
            </div>
            <br />
            <br />
          </div>
        </div>

        <!-- New row, Person 4  -->
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="card">
              <div class="profile-banner">
                <img src="assets/profile-banner4.jpg" alt="4th team member background image"/>
              </div>
              <div class="profile-img">
                <img src="assets/profile-pic4.jpg" alt="4th team member profile image"/>
              </div>
              <div class="profile-text">
                <div class="name">NG QI YAO</div>
                <p>
                  Qi Yao's life took a meaningful turn when he started
                  volunteering at his local animal shelter. Seeing the
                  challenges pet owners faced in finding trustworthy care, he
                  decided to jointly develop WoofWalk.
                </p>
              </div>
              <div class="profile-socials">
                <a href="https://www.facebook.com" aria-label="Facebook">
                  <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com" aria-label="Instagram">
                  <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.linkedin.com" aria-label="LinkedIn">
                  <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.snapchat.com" aria-label="SnapChat">
                  <i class="bi bi-snapchat"></i>
                </a>
                <a href="https://www.youtube.com" aria-label="YouTube">
                  <i class="bi bi-youtube"></i>
                </a>
              </div>
            </div>
            <br />
            <br />
          </div>

          <!-- Person 5  -->
          <div class="col-md-4">
            <div class="card">
              <div class="profile-banner">
                <img src="assets/profile-banner5.jpg" alt="5th team member background image"/>
              </div>
              <div class="profile-img">
                <img src="assets/profile-pic5.jpg" alt="5th team member profile image"/>
              </div>
              <div class="profile-text">
                <div class="name">NICELLE PRATIKA UMRY</div>
                <p>
                  Fostering multiple dogs at a time with a busy schedule,
                  Nicelle is often on the lookout for reliable dog-walkers to
                  make sure her foster dogs are active in her absence. This
                  fuels her passion to jointly develop WoofWalk.
                </p>
              </div>
              <div class="profile-socials">
                <a href="https://www.facebook.com" aria-label="Facebook">
                  <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com" aria-label="Instagram">
                  <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.linkedin.com" aria-label="LinkedIn">
                  <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.snapchat.com" aria-label="SnapChat">
                  <i class="bi bi-snapchat"></i>
                </a>
                <a href="https://www.youtube.com" aria-label="YouTube">
                  <i class="bi bi-youtube"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="separator-container" id="faq">
        <img
          src="assets/bones.png"
          alt="Separation Line"
          class="separator-line"
        />
      </div>

      <!-- FAQs Section -->
      <div class="faq_area" id="faq">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
              <!-- Section Heading -->
              <div
                class="section_heading text-center wow fadeInUp"
                data-wow-delay="0.2s"
              >
                <h2 class="faq-title">
                  <center><span>Frequently </span> Asked Questions</center>
                </h2>
                <div class="line"></div>
                <p>
                  Find answers to the most common questions about our services.
                </p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <!-- FAQ Area -->
            <div class="col-12 col-sm-10 col-lg-8">
              <div class="accordion faq-accordian" id="faqAccordion">
                <!-- FAQ Item 1 -->
                <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s">
                  <div class="card-header" id="headingOne">
                    <h6
                      class="mb-0 collapsed"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      What services does WoofWalk offer?<span
                        class="lni-chevron-up"
                      ></span>
                    </h6>
                  </div>
                  <div
                    class="collapse"
                    id="collapseOne"
                    aria-labelledby="headingOne"
                    data-parent="#faqAccordion"
                  >
                    <div class="card-body">
                      <p>
                        WoofWalk provides professional dog walking services,
                        including individual and group walks, as well as
                        customized exercise plans tailored to your dog's needs.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- FAQ Item 2 -->
                <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="card-header" id="headingTwo">
                    <h6
                      class="mb-0 collapsed"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="true"
                      aria-controls="collapseTwo"
                    >
                      How can I book a dog walker?<span
                        class="lni-chevron-up"
                      ></span>
                    </h6>
                  </div>
                  <div
                    class="collapse"
                    id="collapseTwo"
                    aria-labelledby="headingTwo"
                    data-parent="#faqAccordion"
                  >
                    <div class="card-body">
                      <p>
                        You can book a dog walker through our website by
                        selecting the desired service, choosing a walker, and
                        scheduling the time that works best for you.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- FAQ Item 3 -->
                <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s">
                  <div class="card-header" id="headingThree">
                    <h6
                      class="mb-0 collapsed"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="true"
                      aria-controls="collapseThree"
                    >
                      Are the dog walkers experienced and trained?<span
                        class="lni-chevron-up"
                      ></span>
                    </h6>
                  </div>
                  <div
                    class="collapse"
                    id="collapseThree"
                    aria-labelledby="headingThree"
                    data-parent="#faqAccordion"
                  >
                    <div class="card-body">
                      <p>
                        Yes, all our dog walkers are experienced and have
                        undergone thorough training to ensure they provide the
                        best care for your furry friend.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- FAQ Item 4 -->
                <div class="card border-0 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="card-header" id="headingFour">
                    <h6
                      class="mb-0 collapsed"
                      data-toggle="collapse"
                      data-target="#collapseFour"
                      aria-expanded="true"
                      aria-controls="collapseFour"
                    >
                      How do I contact customer support?<span
                        class="lni-chevron-up"
                      ></span>
                    </h6>
                  </div>
                  <div
                    class="collapse"
                    id="collapseFour"
                    aria-labelledby="headingFour"
                    data-parent="#faqAccordion"
                  >
                    <div class="card-body">
                      <p>
                        You can reach our customer support team via email at
                        support@woofwalk.com or through the contact form on our
                        website.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Support Button -->
              <div
                class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp"
                data-wow-delay="0.5s"
              >
                <p class="mb-0 px-2">Can't find your answers?</p>
                <a href="/contact-us"> Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
