<link rel="stylesheet" href="/booking-history.css" />
<link rel="stylesheet" href="/about.css" />
<link rel="stylesheet" href="/registration.css" />

<!-- Top image section -->
<div class="top-image">
  <img src="/assets/history.jpg" alt="Booking History Image" />
  <div class="top-image-text">
    <h1>Booking History</h1>
    <p>A Walk Down Memory Lane with WoofWalk</p>
  </div>
</div>

<!-- History Wrapper -->
<div class="history-wrapper">
  <div class="history-container">
    <div class="history-title">
      <h3>Booking History</h3>
    </div>
    <div class="jumping-dog">
      <img src="/assets/jumping-dog.gif" alt="Jumping Dog" />
    </div>
    <!-- History 1 -->
    <div class="history">
      <div class="history-image-container">
        <img
          src="/assets/reviewer1.jpg"
          alt="History Walker Image"
          class="history-image"
        />
      </div>
      <div class="history-content">
        <div class="history-header">
          <h3>Booking 1</h3>
          <h4>Carrie</h4>
          <p>Wednesday, 3 May 2024</p>
          <p>5pm - 6pm (45-60 min)</p>
          <!-- Submit button -->
          <button
            type="submit"
            class="btn-design-1"
            onclick="navigateToBookingReviewPage()"
          >
            Review
          </button>
        </div>
      </div>
    </div>
    <!-- History 2 -->
    <div class="history">
      <div class="history-image-container">
        <img
          src="/assets/reviewer1.jpg"
          alt="History Walker Image"
          class="history-image"
        />
      </div>
      <div class="history-content">
        <div class="history-header">
          <h3>Booking 2</h3>
          <h4>Carrie</h4>
          <p>Wednesday, 10 May 2024</p>
          <p>5pm - 6pm (45-60 min)</p>
          <!-- Submit button -->
          <button
            type="submit"
            class="btn-design-1"
            onclick="navigateToBookingReviewPage()"
          >
            Review
          </button>
        </div>
      </div>
    </div>
    <!-- History 3 -->
    <div class="history">
      <div class="history-image-container">
        <img
          src="/assets/reviewer1.jpg"
          alt="History Walker Image"
          class="history-image"
        />
      </div>
      <div class="history-content">
        <div class="history-header">
          <h3>Booking 3</h3>
          <h4>Carrie</h4>
          <p>Wednesday, 10 May 2024</p>
          <p>5pm - 6pm (45-60 min)</p>
          <!-- Submit button -->
          <button
            type="submit"
            class="btn-design-1"
            onclick="navigateToBookingReviewPage()"
          >
            Review
          </button>
        </div>
      </div>
    </div>

    <script>
      function navigateToBookingReviewPage() {
        // Navigate to the booking review page
        window.location.href = "/booking-review";
      }
    </script>
  </div>
</div>
