<link rel="stylesheet" href="/homepage.css" />

<!-- Homepage Carousel  -->
<div id="home-carousel" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#home-carousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#home-carousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#home-carousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="assets/carousel-1.jpg"
        class="d-block w-100 c-img"
        alt="Carousel Image 1"
      />
      <div class="carousel-caption">
        <h1>From click to wag.</h1>
        <h3>Your dog's walk, your way, from wherever you are.</h3>
      </div>
    </div>

    <div class="carousel-item">
      <img
        src="assets/carousel-2.jpg"
        class="d-block w-100 c-img"
        alt="Carousel Image 2"
      />
      <div class="carousel-caption">
        <h1>To dog lovers,</h1>
        <h1>From dog lovers.</h1>
        <h3>Choose what's best your dog.</h3>
      </div>
    </div>

    <div class="carousel-item">
      <img
        src="assets/carousel-3.jpg"
        class="d-block w-100 c-img"
        alt="Carousel Image 3"
      />
      <div class="carousel-caption">
        <h1>Healthy is happy.</h1>
        <h3>Active dogs have overall better health.</h3>
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#home-carousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#home-carousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Book Now Section -->
<div class="booknow-area">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="left-img"><img src="assets/home-dog.png" alt="cute home dog image asking owner to book dog walking session for them."/></div>
    </div>

    <div class="col-md-6">
      <div class="right">
        <h2>What are you waiting for?</h2>
        <h4 class="r-text">Get em' up and runnin'</h4>

        <a href="/booking">
          <div class="btn-container w-50">
            <button id="book" type="button" class="btn btn-primary w-100">
              BOOK HERE
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Benefits Section  -->
<div class="benefits">
  <div class="row">
    <div class="b-item">
      <img src="/assets/benefit-2.jpg" alt="About Us Image" class="b-img" />
      <div class="benefits-text">
        <p>Did you know?</p>
        <p>
          Walks provide opportunities for dogs to interact with other dogs and
          people, helping them develop better social skills.
        </p>
      </div>
    </div>
  </div>
</div>

<br />
<br />

<!-- Why Us Section  -->
<div class="why-us-section container">
  <h3 class="why-us-header">Why Choose Woofwalk?</h3>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card home" style="width: 18rem">
        <img src="assets/choose1.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <div class="card-title">Flexible</div>
          <p class="card-text">
            Unparalleled flexibility allows scheduling of walks at convenient
            times, seamlessly fitting into busy lifestyles.
          </p>
        </div>
      </div>
      <br />
    </div>

    <div class="col-md-4">
      <div class="card home" style="width: 18rem">
        <img src="assets/choose2.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <div class="card-title">Reliable</div>
          <p class="card-text">
            Reliability is a cornerstone, with trusted walkers who are punctual
            and attentive to each dog's needs.
          </p>
        </div>
      </div>
      <br />
    </div>

    <div class="col-md-4">
      <div class="card home" style="width: 18rem">
        <img src="assets/choose3.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <div class="card-title">Experienced</div>
          <p class="card-text">
            Experienced walkers are trained to handle a variety of breeds and
            temperaments, ensuring dogs are in capable hands.
          </p>
        </div>
      </div>
      <br />
    </div>
  </div>
  <br />
  <br />
</div>
