/* Edit Button Styles */
.button-design-2 {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 2px solid #c02666;
  background-color: #fff;
  color: #c02666;
  font-weight: bold;
  border-radius: 0.5em;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}

.button-design-2:hover {
  background-color: #c02666;
  color: #fff;
}

/* Button style for update & cancel button */
.button-design-3.cancel {
  text-decoration: none;
  display: inline-block;
  width: calc(50% - 0.5em);
  padding: 0.5em;
  border: 2px solid #c02666;
  background-color: #fff;
  color: #c02666;
  font-weight: bold;
  border-radius: 0.5em;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  margin-right: 0.5em;
}

.button-design-3.cancel:hover {
  background-color: #c02666;
  color: #fff;
}

.button-design-3.update,
.button-design-3.search,
.button-design-3.payment {
  text-decoration: none;
  display: inline-block;
  width: calc(50% - 0.5em);
  padding: 0.5em;
  border: 2px solid #c02666;
  background-color: #c02666;
  color: #fff;
  border-radius: 0.5em;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}

.button-design-3.update:hover,
.button-design-3.search:hover,
.button-design-3.payment:hover {
  background-color: #d01753;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.button-design-3:last-child {
  margin-top: 4vh;
  margin-right: 0;
}
