/* General Container Styles */
.owner-profile-container {
  display: flex;
  max-width: 65%;
  margin: 14vh auto 5vh auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* owner- Card Styles */
.owner-profile-card {
  flex: 1;
  padding: 20px;
  text-align: center;
  border-right: 1px solid #ccc;
}

.walker-image {
  width: 100%;
  border-radius: 10px;
}

.contact-walker {
  padding: 20px;
}

.profile-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.profile-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border: 2px solid #e0e0e0;
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
}

.profile-img {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  margin-left: 10px;
}

.profile-info h5 {
  margin: 0;
  font-size: 1.3em;
  text-align: left;
}

.profile-info p {
  margin: 5px 0 0;
  font-size: 1.1em;
  text-align: left;
}

@media (max-width: 768px) {
  .profile-box {
    flex: 1 1 100%; /* Stack boxes on smaller screens */
  }
}

.run-jump-dog {
  width: 100%;
  position: relative;
}

.run-jump-dog img {
  position: absolute;
  width: auto;
  height: 15vh;
  animation: moveRight 5s linear infinite;
}

@keyframes moveRight {
  0% {
    transform: translateX(-2vw) translateY(-10%); /* Start position */
  }
  100% {
    transform: translateX(27vw) translateY(-10%); /* End position */
  }
}

.extend-margin-top {
  margin-top: 11vh;
}

/* Edit Profile Page */
.icon-image {
  width: 3px;
  height: 3px;
  margin-right: 30px;
  margin-left: 10px;
}

/* test */
.size-options-2,
.age-options-2 {
  color: rgb(89, 89, 89);
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 0.5em;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size-options-2 {
  padding: 1em 3.5em;
}

.age-options-2 {
  padding: 1em 5.5em;
}

/* Styles for the selected radio option */
input[type="radio"]:checked + .size-options-2,
input[type="radio"]:checked + .age-options-2 {
  border: 2.5px solid;
  border-color: #c02666;
  color: #c02666;
  font-weight: bold;
}

.owner-image {
  border-radius: 10px;
  width: 100%;
}
